.showList{
    flex: 4;
    width: 100%;
}

.showListItem{
    display: flex;
    align-items: center;
}

.showListImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }

.showListEdit{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.showListDelete{
    color: red;
    cursor: pointer;
}